.mn_back {
    background:#f4f4f4;
    float: left;
    padding:20px 0px;
    width: 100%;
    margin-top:5px; 
}
.wizard .tab-pane {
    position: relative;
    padding-top: 15px;
}
.prebooking {
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 5px #e6e6e6;
    margin: 0 0 15px;
    overflow: hidden;
    background:#fff; 
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.24);
    box-shadow: 0 1px 10px rgba(0,0,0,0.24);
    border-radius: 5px;
}
.prebok_hding {
    /* border-bottom: 1px dashed #ddd; */
    color: #fff;
    display: block;
    font-size: 18px;
    overflow: hidden;
    padding:4px 15px;
    background: #4eb947;
}
.airline_name {
    padding: 20px 0;
}
.prebooking .departure {
    text-align: left;
    margin: 27px 0 0;
}
.prebooking h3 {
    color: #333;
    font-weight: 500;
    margin: 0;
    padding:10px 0px;  
    font-size: 17px;
}
.prebooking .bold {
    font-weight: 400;
}

.prebooking h5 {
    color: #0a3152;
    font-size: 13px;
    margin: 5px 0;
}

.stop-duration {
    padding:15px;
    margin:29px 0px 0px 0px; 
}
.flight-direction {
    border: 1px solid #e6e6e6;
    margin-top: 15px;
    position: relative;
}
.flight-direction::before {
    background: #e6e6e6 none repeat scroll 0 0;
    border-radius: 50%;
    color: #0a3152;
    content: "";
    height: 15px;
    left: -2px;
    position: absolute;
    top: -7px;
    width: 15px;
}
.flight-direction::after {
    background: #e6e6e6 none repeat scroll 0 0;
    border-radius: 50%;
    color: #0a3152;
    content: "";
    height: 15px;
    position: absolute;
    right: -2px;
    top: -7px;
    width: 15px;
}
.prebooking .stop {
    background: #e6e6e6 none repeat scroll 0 0;
    border-radius: 50%;
    height: 15px;
    margin: -8px auto 0;
    width: 15px;
}
.prebooking .stop-box {
    border: 1px solid #e6e6e6;
    margin: 6px auto;
    padding: 8px 10px;
    position: relative;
    text-align: center;
    width: 135px;
}
.prebooking .duration {
    font-size: 13px;
    margin-top: 5px;
}
.prebooking .destination {
    text-align: left;
    margin: 27px 0 0;
}
/*.flight-list-footer {
    background: #e6e6e6 none repeat scroll 0 0;
    color: #0a3152;
    overflow: hidden;
}*/
/* .flight-list-footer .refund_1 {
    color:#098cda;
}
.flight-list-footer span {
    float: left;
    font-size: 13px;
    padding: 7px 5px;
}
.flight-list-footer span {
    float: left;
    font-size: 13px;
    padding: 7px 5px;
}
.prebooking {
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 5px #e6e6e6;
    margin: 0 0 15px;
    overflow: hidden;
} */
.ourservices {
    background: rgba(0,0,0,0) url(../images/title-bottom.png) no-repeat scroll center bottom;
    color: #098cda;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-align: center;
}
.facilities_name {
    float: left;
    margin: 0;
    padding: 7px 0;
    width: 100%;
}
.flight-list-footer span {
    float: left;
    font-size: 13px;
    padding:5px 5px;
    line-height:25px 
}
.mn_top {
    cursor: pointer;
    display: block;
    height:auto;
    overflow: hidden;
    position: relative;
    margin-top:25px; 
    transition: all 400ms ease-in-out 0s;
}
.rowput {
    position: relative;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.check_box {
    float: left;
    height: auto;
    margin: 7px 0;
    width: 100%;
}
.searchbtn1 {
    background:#0e2e3c7a;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 400!important;
    margin: 14px 0;
    outline: medium none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}
.searchbtn_login {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(247, 142, 30, 1) 0%, rgba(242, 103, 34, 1) 100%) repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 400!important;
    margin: 14px 0;
    outline: medium none;
    padding: 10px;
    width: 100%;
}
.prebooking img {
    max-width: 100%;
}

.booking-sidebar .sidebar-item {
   /*  border: 1px solid #e6e6e6;
   box-shadow: 0 0 5px #e6e6e6; */
    margin:0px 0 0px 0;
    float:left;
    width:100%;  
}

.booking-sidebar .sidebar-item h4 {
   /*  background:#eaeef7 none repeat scroll 0 0; */
    font-weight:500;
    letter-spacing:1px;
    margin:0;
    color:#333; 
    padding:15px;
    text-transform:uppercase;
}
.booking-sidebar .sidebar-body .table {
    margin-bottom:0;
}
.booking-sidebar .sidebar-body table tr {
    border-bottom:1px solid #e6e6e6;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  border-top:none; 
}
.booking-sidebar .sidebar-body {
    padding:10px 10px 0;
    font-size:14px;
    background:#fff;
    float:left;
    width:100%;   
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.24);
    box-shadow: 0 1px 10px rgba(0,0,0,0.24);
    border-radius: 5px;
}
.cartprc {
    margin:0px 0px 10px 0px;
}
.payblnhm {
    display:block;
    margin:0px;
}
.promocode {
    border:1px solid #ddd;
    color:#bbb;
    display:block;
    height:45px;
    outline:medium none;
    overflow:hidden;
    padding:5px;
    width:100%;
}
.promosubmit {
    background:#105aa8;
    border:medium none;
    color:#fff;
    display:table;
    font-size:15px;
    height:45px;
    outline:medium none;
    padding:6px;
    text-align:center;
    width:100%;
}

/*********hotel review css ****/

.htl_bg_img {
    position:relative;
}
.htl_bg_img:before {
    position:absolute;
    top:0;
    left:-75%;
    z-index:2;
    display:block;
    content:'';
    width:50%;
    height:100%;
    background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 100%);
    -webkit-transform:skewX(-25deg);
    transform:skewX(-25deg);
}

.htl_bg_img img {
    width:100%;
    max-height:147px;
}

.htl_txt h3 {
    border-bottom:0;
    color:#21a8e0;
    display:inline-block;
    font-size:18px;
    font-weight:700;
    margin:0px 10px 0 0;
    padding-bottom:0px;
    width:auto;
    /* float:left; */
}
.stra_hotel {
    display:block;
    margin:5px 0px;
    overflow:hidden;
}
.htl_txt p {
    line-height:18px;
    width:100%;
    padding:15px 0px;
    float:left; 
}
.room_type {
    color: #6c6c6c;
    border: none;
    display: block;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
}
.bathroom {
    display: block;
    margin-bottom: 8px;
    text-transform: capitalize;
    line-height: 18px;
}
.breakfast {
    color: #428bca;
    display: block;
    text-transform: capitalize;
}
.fphInOutDates {
    text-align: center;
}
.fphInOutDates label {
    color: #21a8e0;
    display: block;
    padding: 10px 0;
}
.para_sentnce{
  width:100%;
  float:left;
  padding:12px;   
}
.trv_htl_detail{
  width:100%;
  float:left;
  padding:12px 0px;   
}

/******** hotel review css end here *******/


/******** booking_traveller css start here *******/
.mrntvlr10 {
    margin:15px 0px;
}
.rw_rj {
    width:96%;
    margin:2% 2%;
    float:left;
    border-bottom:solid 1px #f2f2f2;
    padding:0px 0px 10px 0px;
}
.lokter {
   text-align: center;
   width: 100%;
}
.lokter .fa {
   background:#5c8aa4 none repeat scroll 0 0;
   border-radius: 15%;
   color: #fff;
   display: block;
   font-size: 22px;
   height: 40px;
   line-height: 40px;
   margin:0px auto;
   overflow:hidden;
   width:40px;
}
.whoare {
    color: #444;
    font-size: 12px;
}
.selectedwrap {
    position: relative;
}
.flpayinput {
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
}
.selectedwrap::after {
    bottom: 1px;
    color: rgb(102, 102, 102);
    content:"\f0d7";
    cursor:pointer;
    font-family:'FontAwesome';
    font-size:22px;
    height:38px;
    line-height:41px;
    pointer-events:none;
    position:absolute;
    right:1px;
    text-align:center;
    top: 1px;
    width: 40px;
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
}
.payinput {
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
}
.mrtp15{
  margin-top:15px; 
}

/******** booking_traveller css end here *******/

/******** payment css start here *******/

.payment{
width:100%;
float:left;   
}

.payment h5 {
    font-size:16px;
    margin:8px 0px 12px 0px;
    color:#5792C9;
}

.cardFields{
  width:100%;
  float:left;  
}
.cardFields .form-group > .control-label {
    float:left;
    width:30%;
    margin-top:14px;
}
.cardFields .form-group > .fieldBlock {
    float: right;
    width: 68%;
}
.cardFields .form-group > .psgExDate {
    float: left;
    margin-left: 2%;
    width: 33%;
}
.fieldBlock > span {
    margin-top:6px;
    position: absolute;
    right: 34px;
}
img {
    vertical-align: middle;
}
.cardFields .form-group > .control-label {
    float: left;
    width: 30%;
    margin-top: 14px;
}
.cardFields .form-group > .fieldBlock {
    float: right;
    width: 68%;
}
.pd6{
  padding:6px 30px; 
}
.cvvinfo{
  width:100%;
  float:left;padding:0px 0px 10px 0px;   
}


/******** payment css end here *******/


/******** confirmation css end here *******/
.crl {
    border: solid 1px #ccc;
    text-align: center;
    background: #16a7e0;
    border-radius: 50px;
    color: #fff;
    padding: 20px;
    font-size: 30px !important;
}
.tll {
    font-size: 25px;
    text-align: center;
    color: #16a7e0;
    padding:10px 0px; 
}
.mrnbt10 {
    margin-bottom: 10px;
}

.mrn10 {
    margin-top: 15px;
}
.mtp8{
    margin-top:8px; 
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom:0px;
    font-weight: bold;
}
.searchbtn1 {
    background: #194e91;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 400!important;
    margin: 14px 0;
    outline: medium none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    clear:both; 
}
.mt151{
    margin:15px 0px; 
}
.mtr15{
    margin-top:15px; 
}

.tram_mn{
    width:100%;
    float:left;  
}
.tram_mn label{
text-indent:26px;
padding:4px 0px 0px 0px;    
}
.tram input[type="checkbox"] {
  margin:0px;
  visibility:hidden;
}

.tram {
    
    margin-left:-29px;
    position:relative;
    width:25px;
    z-index:1;
    float:left; 
}

.tram label {
    background:#c4c3c2;
    border:3px solid #fff;
    border-radius:0px;
    color:#333;
    cursor:pointer;
    height:25px;
    left:25px;
    position:absolute;
    top:0px;
    width:25px;  
    text-indent:50px; 

}

.tram label::after {
    -moz-border-bottom-colors:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    border-color:-moz-use-text-color -moz-use-text-color #fcfff4 #fcfff4;
    border-image:none;
    border-style:none none solid solid;
    border-width:medium medium 3px 3px;
    content:"";
    height:7px;
    left:5px;
    opacity:0;
    position:absolute;
    top:5px;
    transform:rotate(-45deg);
    width:11px;
    
}

.tram label:hover::after {
    opacity:0.3;
}

.tram input[type="checkbox"]:checked + label::after {
    color:#fff;
    opacity:1;
}

.tram input[type="checkbox"]:checked + label {
    background:#194e91;
}
.mt150{
    padding-bottom:20px;  
}
.nopad{
  padding:0px; 
}
/******** confirmation css end here *******/
   .wrp_pre {
    float: left;
    padding: 15px;
    width: 100%;
}
.pd54 {
    padding: 8px 21px !important;
}
.pre_put {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 15px;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.sentmail_id {
    color: #666;
    display: block;
    font-size: 13px;
    margin: 5px 0 0;
    overflow: hidden;
}
.sign_twosec {
    display: block;
    overflow: hidden;
}
.pre_put {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 15px;
    height: 40px;
    overflow: hidden;
    padding: 10px;
    width: 100%;
} 
.sentmail_id {
    color: #666;
    display: block;
    font-size: 12px;
    margin: 5px 0 0;
    overflow: hidden;
}
.mob_hi {
    display: block;
    margin: 12px 0px 0px 0px;
    overflow: hidden;
    text-align: center;
}
.btn_book {
    width: 70%;
    background-color: #fff000;
    color: #333;
    padding: 15px 5px;
    border-radius: 0px;
    font-size: 18px;
    border:solid 1px #333; 
    border-radius:4px;
    /* border-bottom:solid 5px #ffc600; */    
}
.btn_book:hover{color: #333;}
.adt{
  width:100%;
  float:left;
  padding:7px 0px;    
  border-bottom:solid 1px #f2f2f2;  
}
.adt h4{
  color:#666;
  margin:0px;
  padding:0px;  
  font-size:16px;  
}
.flight-list-main h6{
  margin-top:0px; 
}
.logsocial {
    padding-left: 50px;
} 
 .facebook {
    background: #3a589a;
    margin-top: 8px;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.logsocial a {
    display: inline-block;
    font-size: 16px !important;
    text-decoration: none;
    color: white;
    width: 96%;
    padding: 10px !important;
    clear: both;
    text-align: center;
    margin: 7px 10px;
}
.logorline1 {
    position: absolute;
    left: 55px;
    top: 0px;
    right: 0;
    margin: 0 auto;
    width: 2px;
    height: 92%;
    border: 1px dotted #EEEEEE;
}
.logor1 {
    position: absolute;
    left: 53px;
    top: 75px;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background: #EEEEEE;
    border-radius: 100%;
    padding: 8px;
    font-size: 13px;
}
.newmodify {
    float:left;
    width:100%;
    background:#f9f6f4;
}
.payment_process {
    display: block;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}
.center_pro {
    display: block;
    overflow: hidden;
    text-align: center;
}
.center_pro.active .fabols {
    background: #4db748 none repeat scroll 0 0;
}
.center_pro.active .center_labl {
 color: #4eb947;
font-weight: 600;
}
.grnd_ttl{
    padding:20px 0;
}
.grnd_ttl div{
    color:#333;
    font-weight:700;
}
.int_mn{
    padding:15px 0;
}
.fabols {
    background: #ccc none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 100%;
    display: block;
    height: 60px;
    margin: 0 auto 10px;
    overflow: hidden;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 50px;
    z-index: 10;
}
.center_labl {
    color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}
.payment_process::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 17%;
    position: absolute;
    right: 17%;
    top: 32px;
}
.review_adlt{
    background-color: #ccc;
background: #055631;
border-radius: 50%;
color: #fff;
display: inline-block;
height: 38px;
line-height: 38px;
margin-right: 10px;
text-align: center;
width: 38px;
margin: 10px 0;
}
.rdd label{
    font-weight:600 !important;
    padding:4px 0;
}
.wrp_pre label{
        padding: 10px 0;
    font-weight: 500;
}

.xcel {
    display: table-cell;
    float: none;
    vertical-align: top;
}
.hotelistrowhtl .imagehotel {
    margin: 10px;
    height: 180px;
    max-height: 220px;
}
.imagehotel {
    display: block;
    max-height: 115px;
    overflow: hidden;
}
.imagehotel img {
    width: 100%;
    min-height: 220px;
    height: 220px;
}
.padall10 {
    padding: 10px;
}
.hotelhed {
    color: #3a8bbb;
    display: block;
    font-size: 24px;
    margin: 0;
    overflow: hidden;
}
.bokratinghotl {
    display: block;
    float: left;
    margin: 0 0 4px;
    overflow: hidden;
    direction: rtl;
}

.rating span.star:hover::before, .rating span.star:hover ~ span.star::before, .rating-no span.star.active::before, .rating-no span.star.active ~ span.star::before {
    content: "\f005";
    color: #fc901b;
    font-family:'FontAwesome';
    font-size: 13px;
}

.mensionspl {
    color: #333;
    display: block;
    margin: 2px 0 0;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
.sckint {
    background: none repeat scroll 0 0 #fff;
/*   border: 1px solid #ddd; */
    display: block;
 /*    margin: 0 0 0 20px; */
    overflow: hidden;
    padding: 5px 0 0 0;
}
.ffty {
    float: left;
    width: 50%;
}
.lblbk_book {
    color: #666;
    display: table;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 10px 0 0;
    text-align: left;
    float: left;
}
.lblbk_book .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
    color: #077100;
}
.lblbk_book .fa {
    font-size: 20px;
    color: #077100;
}
.fuldate_book {
    display: block;
    height: 64px;
  /*   margin: 0 auto; */
    overflow: hidden;
    text-align: left;
}
.bigdate_book {
    color: #3a8bc1;
    display: table-cell;
    font-size: 40px;
    font-weight: 700;
    margin-right: 8px;
    padding: 0 10px;
    vertical-align: middle;
}
.biginre_book {
    color: #666;
    display: table-cell;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}
.hotelistrowhtl {
    background: #fff;
    display: table;
    width: 100%;
}
.nigthcunt {
   /*  border-top: 1px solid #eee; */
    color: #666;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
}

.rating span.star::before, .rating-no span.star::before {
    font-size: 21px;
    margin: 0 6px 0 0;
}
.rating span.star, .rating-no span.star {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}
.adlt_price{
    font-size: 13px;
    float: left;
    width: 100%;
}